
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="~/images/favicon.ico" type="image/ico" />

	<title>Gentelella Alela! | </title>

	<!-- Bootstrap -->
	<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

	<!-- bootstrap-progressbar -->
	<link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
	<!-- bootstrap-daterangepicker -->
	<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>健康养老平台</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>贾医生</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>监控管理</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-home"></i> 实时监测 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-controller="Report" asp-action="MonitorView">监测中心</a></li>
										<li><a asp-controller="Report" asp-action="Index">报警记录</a></li>
										<li><a asp-controller="Report" asp-action="RegionDetial">实时信息</a></li>
										<li><a asp-controller="Report" asp-action="RegionTotal">历史记录</a></li>
									</ul>
								</li>

								<li>
									<a><i class="fa fa-clone"></i>统计分析 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="fixed_sidebar.html">会员订单列表</a></li>
										<li><a href="fixed_footer.html">会员服务预定</a></li>
										<li><a href="fixed_footer.html">会员商品下单</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-clone"></i>数据分析 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="fixed_sidebar.html">数据分析 - 日常分析</a></li>
										<li><a href="fixed_footer.html">数据分析 - 睡眠质量</a></li>
										<li><a href="fixed_footer.html">实时信息</a></li>
										<li><a href="fixed_footer.html">历史记录</a></li>
									</ul>
								</li>

								<li>
									<a><i class="fa fa-bar-chart-o"></i> 报警记录<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="chartjs.html">费用明细</a></li>
										<li><a href="chartjs2.html">账单列表</a></li>
										<li><a href="morisjs.html">预收款</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="menu_section">
							<h3>基础管理</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-desktop"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-action="Create" asp-controller="User">新增用户</a></li>
										<li><a asp-action="Index" asp-controller="User">用户列表</a></li>
										<li><a href="media_gallery.html">系统日志</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-table"></i> 客户管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-action="Create" asp-controller="Customer">新增客户</a></li>
										<li><a asp-action="Index" asp-controller="Customer">客户列表</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-table"></i>床位管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-action="Create" asp-controller="Bed">新增床位</a></li>
										<li><a asp-action="Index" asp-controller="Bed">床位列表</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-table"></i>床垫管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-action="Create" asp-controller="Mat">新增床垫</a></li>
										<li><a asp-action="Index" asp-controller="Mat">床垫列表</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="menu_section">
							<h3>其他管理</h3>
							<ul class="nav side-menu">
								<li>
									<a><i class="fa fa-bug"></i> 活动管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="e_commerce.html">活动分类管理</a></li>
										<li><a href="projects.html">活动列表</a></li>
										<li><a href="project_detail.html">时间银行汇总</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-windows"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-action="Index" asp-controller="User">用户列表</a></li>
										<li><a asp-action="Create" asp-controller="User">添加用户</a></li>
										<li><a href="page_500.html">角色列表</a></li>
										<li><a href="plain_page.html">添加角色</a></li>
										<li><a href="login.html">权限管理</a></li>
										<li><a href="pricing_tables.html">添加权限</a></li>
									</ul>
								</li>

								<li>
									<a><i class="fa fa-windows"></i> 设备管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="page_403.html">设备列表</a></li>
										<li><a href="page_404.html">添加设备</a></li>
										<li><a href="page_500.html">设备类型类表</a></li>
										<li><a href="plain_page.html">添加设备类型</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="#level1_1">Level One</a>
										<li>
											<a>Multilevel<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li class="sub_menu">
													<a href="level2.html">Multilevel</a>
												</li>
												<li>
													<a href="#level2_1">Multilevel</a>
												</li>
												<li>
													<a href="#level2_2">Multilevel</a>
												</li>
												<li>
													<a href="#level2_2">Multilevel</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#level1_2">Level One</a>
										</li>
									</ul>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
							</ul>
						</div>

					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="Lock">
							<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<img src="~/images/img.jpg" alt="">贾医生
									<span class=" fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="javascript:;"> Profile</a></li>
									<li>
										<a href="javascript:;">
											<span class="badge bg-red pull-right">50%</span>
											<span>Settings</span>
										</a>
									</li>
									<li><a href="javascript:;">Help</a></li>
									<li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
								</ul>
							</li>

							<li role="presentation" class="dropdown">
								<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-envelope-o"></i>
									<span class="badge bg-green">6</span>
								</a>
								<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
									<li>
										<a>
											<span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</a>
									</li>
									<li>
										<a>
											<span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</a>
									</li>
									<li>
										<a>
											<span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</a>
									</li>
									<li>
										<a>
											<span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</a>
									</li>
									<li>
										<div class="text-center">
											<a>
												<strong>See All Alerts</strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->

			<div class="right_col" role="main">
				<partial name="_CookieConsentPartial" />
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script src="~/vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="~/vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="~/vendors/nprogress/nprogress.js"></script>
	<!-- Chart.js -->
	<script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
	<!-- gauge.js -->
	<script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="~/vendors/iCheck/icheck.min.js"></script>
	<!-- Skycons -->
	<script src="~/vendors/skycons/skycons.js"></script>
	<!-- Flot -->
	<script src="~/vendors/Flot/jquery.flot.js"></script>
	<script src="~/vendors/Flot/jquery.flot.pie.js"></script>
	<script src="~/vendors/Flot/jquery.flot.time.js"></script>
	<script src="~/vendors/Flot/jquery.flot.stack.js"></script>
	<script src="~/vendors/Flot/jquery.flot.resize.js"></script>
	<!-- Flot plugins -->
	<script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
	<script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
	<script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
	<!-- DateJS -->
	<script src="~/vendors/DateJS/build/date.js"></script>
	<!-- JQVMap -->
	<script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
	<script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
	<script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="~/vendors/moment/min/moment.min.js"></script>
	<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

	<!-- Custom Theme Scripts -->
	<script src="~/build/js/custom.min.js"></script>




</body>


</html>
